// KTartiere - Portfolio - SASS/main
// AUTHOR: TiCubius
// VERSION: V1.00

@import "reset"

@import "modules/header"
@import "modules/portfolio"
@import "modules/project"
@import "modules/buttons"

*
    box-sizing: border-box
    transition: .300s

html
    font-family: "Open Sans", sans-serif
    background: #364BB6

    overflow-x: hidden

    &.animate-bg
        animation: animate-bg 1s infinite

@keyframes animate-bg
    0%
        background: #364BB6

    50%
        background: #222d31

    100%
        background: #364BB6
