html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 64px;
}

#header #title {
  color: white;
  font-size: 32px;
  margin-bottom: 32px;
}

#header #description {
  margin-bottom: 32px;
  text-align: center;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
}

#header #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border: 1px solid white;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  margin: 0 auto;
}

#projects #filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 32px 0;
}

#projects #filters .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 300px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  border: 2px solid white;
}

#projects #filters .filter.active {
  background: #b63636;
}

#projects #list {
  display: grid;
  width: 100vw;
}

#projects #list .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100vw * 9 / 16);
  color: white;
  background: #b63636;
}

#projects #list .project .image {
  width: 25%;
  margin-bottom: 10px;
}

#projects #list .project.hidden {
  opacity: .5;
}

#projects #list .project:nth-child(2n) {
  background: green;
}

#projects #list .project:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

@media only screen and (min-width: 480px) {
  #filters {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }

  #filters .filter {
    width: calc(100%/ 3 - 20px) !important;
  }

  #list {
    grid-template-columns: repeat(2, 1fr);
  }

  #list .project {
    height: calc(50vw * 9 / 16) !important;
  }
}

@media only screen and (min-width: 960px) {
  #filters {
    margin: 32px auto !important;
    max-width: 960px !important;
  }

  #filters .filter {
    width: 300px !important;
  }

  #list {
    margin: 0 auto !important;
    max-width: 960px !important;
  }

  #list .project {
    height: calc(480px * 9 / 16) !important;
  }
}

#project {
  margin: 32px auto;
  color: white;
}

#project .header {
  text-align: center;
  font-family: "Raleway", "Open Sans", sans-serif;
}

#project .header .title {
  font-size: 32px;
  font-weight: bold;
}

#project .header .tags {
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
  text-transform: lowercase;
}

#project .content {
  font-family: "Roboto", "Open Sans", sans-serif;
  padding: 20px;
  margin: 32px 0;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background: white;
}

#project .content h1,
#project .content h2,
#project .content h3,
#project .content h4,
#project .content h5,
#project .content h6,
#project .content p,
#project .content ul,
#project .content pre {
  margin-bottom: 16px;
}

#project .content a {
  color: #364BB6;
  font-style: italic;
}

#project .content b,
#project .content strong {
  font-weight: bold;
}

#project .content i,
#project .content em {
  font-style: italic;
}

#project .content img {
  display: block;
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
  background: #282a36;
}

#project .content h1,
#project .content h2,
#project .content h3,
#project .content h4,
#project .content h5,
#project .content h6 {
  font-size: 22px;
  font-weight: 600;
  font-family: "Raleway", "Open Sans", sans-serif;
  text-transform: uppercase;
}

#project .content ul {
  list-style: square;
}

#project .content ul li,
#project .content ul ol {
  margin-left: 20px;
}

#project .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#project .links button {
  border: 1px solid white;
  color: white;
  background: transparent;
  padding: 10px 20px;
}

@media only screen and (min-width: 960px) {
  #project {
    max-width: 960px !important;
  }
}

.btn-primary {
  background: transparent;
}

.btn-primary:hover {
  background: #b63636;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .300s;
  transition: .300s;
}

html {
  font-family: "Open Sans", sans-serif;
  background: #364BB6;
  overflow-x: hidden;
}

html.animate-bg {
  -webkit-animation: animate-bg 1s infinite;
          animation: animate-bg 1s infinite;
}

@-webkit-keyframes animate-bg {
  0% {
    background: #364BB6;
  }

  50% {
    background: #222d31;
  }

  100% {
    background: #364BB6;
  }
}

@keyframes animate-bg {
  0% {
    background: #364BB6;
  }

  50% {
    background: #222d31;
  }

  100% {
    background: #364BB6;
  }
}

